  * {
    color: white;
    font-family: monospace;
  }

  * h1 {
    color: white;
  }

  .textlogo{
    padding: 20px;
    font-size: 50px;
  }

  body {
    background-color: rgb(23, 22, 22);
    text-align: center;
  }

  .topnav {
    overflow: hidden;
    padding: 40px;
  }

  .topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

 body {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 1px;
}

@supports (display: grid) {
	body,
	html {
		display: block;
	}
}

@supports (display: grid) {
	.container {
		display: block;
    padding-top: 100px;
    padding-right: 15px;
	}
}

.grid {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 150px;
	grid-auto-flow: row dense;
	line-height: 20px;
	
}


/* Items  */
.item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #ede90f;
	color: #fff;
	grid-column-start: auto;
	grid-row-start: auto;
	color: #fff;
}

.item {
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
	box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	cursor: pointer;
	counter-increment: item-counter;
	border-bottom: 3px solid rgba(219, 233, 17, 0.8);
}

.item large {
  height: 350px;
}

.medium {
	grid-row-end: span 2;
}

.large {
	grid-row-end: span 3;
}

.full {
	grid-column-end: auto;
}

@media screen and (min-width: 768px) {
	.full {
		grid-column: 1/-1;
		grid-row-end: span 2;
	}
}

.details {
	position: relative;
	z-index: 1;
	padding: 15px;
	background: #fff;
	text-transform: lowercase;
	letter-spacing: 1px;
	color: #828282;
}

footer {
  padding: 50px;
  background-color: rgba(255, 0, 0, 0.2);
}











section {
	width: 80%;
	margin: 0 auto;
	line-height: 0;
	position: relative;
}
section img {
	width: 100%;
}
section article {
	position: absolute;
	top: 0;
	width: 100%;
	background: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	mix-blend-mode: lighten;
}
section div {
	background: black;
	height: 25.3vw;
}
section div:nth-of-type(2) {
	grid-column: 2 / 4;
}